{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class="column is-4 is-offset-4">
        <h3 class="title">Login</h3>
        <div class="box">
            <form method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label(class="form-label") }} <br>
                    {{ form.username(size=25, class="form-control") }}
                    {% for error in form.username.errors %}
                        <span class="alert alert-danger mt-2" style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label(class="form-label") }} <br>
                    {{ form.password(size=32, class="form-control") }}
                    {% for error in form.password.errors %}
                        <span class="alert alert-danger mt-2" style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p> {{ form.remember_me(class="form-check-input") }} {{ form.remember_me.label(class="form-check-label") }}</p>
                <p> {{ form.submit(class="btn btn-primary") }} </p>

                <p>New User? <a href="{{ url_for('signup') }}">Click to Register!</a></p>
            </form>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/overview/">
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>