body {
    background-color: #c8d7e64d;
}

.title_row {
    margin-top: 4% !important;
}

.title_row, .kpi_row, .first_row, .second_row, .row_splitter {
    width: 90%;
    margin: auto;
}

#page-content > div > div.row_splitter.row > div > hr {
    color: rgba(255, 255, 255, 0)
}

/* .main_table {
    margin-top: 4% !important;
} */

#prelims, #measured_works, #costs_to_complete, .main_table {
    border: 1px solid rgba(179, 197, 199, 0.356);
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px #e3edef;
}

.cell-table tr th{
    border-bottom: 2px solid rgb(198, 231, 229) !important;
    border-top: 2px solid rgb(198, 231, 229) !important;
    border-left: none !important;
    border-right: none !important;
    background-color: #e3edef !important;
    height: 40px !important;
    font-family: 'Helvetica';
    /* font-size: 16px; */
    font-weight: bold !important;
    color: rgb(36, 35, 35);
}

.cell-table tr td{
    border-bottom: 1px solid rgb(204, 219, 218) !important;
    border-top: 1px solid rgb(204, 219, 218) !important;
    border-left: none !important;
    border-right: none !important;
    height: 40px !important;
    font-family: 'Helvetica';
    font-weight: 400;
    /* font-size: 13.5px; */
}

.slice > .surface{
    font-family: 'Helvetica' !important;
    /* font-size: 13.5px !important; */
}

div.js-plotly-plot > div > div > svg > g.infolayer > g.g-gtitle > text {
    font-family: 'Helvetica' !important;
    /* font-size: 17px !important; */
}

div.js-plotly-plot > div > div > svg > g.infolayer > g.legend > g > g > g > text {
    font-family: 'Helvetica' !important;
    /* font-size: 13.5px !important; */
}

div.js-plotly-plot > div > div > svg > g.pielayer > g > g > g > text {
    font-family: 'Helvetica' !important;
}

.pie_chart {
    font-family: 'Helvetica' !important;
    /* font-size: 13.5px !important; */
}


.nav-link.active {
    background-color: #f1f1eb17;
    border-radius: 5px;
    box-shadow: -3px 4px 6px 1px #1d8ba38f;
}

div.kpi_row.row > div {
    background-color: white;
    width: 95%;
    margin: auto;
    margin-left: 0.5%;
    margin-right: 0.5%;
    border: 1px solid #c2e0ffad;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 5px #c2e0ff36;
}

#main-page-content > div > div.kpi_row.row > div > div {
    text-align: center;
}

#main-page-content > div > div.kpi_row.row > div > div {
    position: relative;
}

.kpi_col > div > h6 {
    position: absolute;
    top: 75%;
    left: 80%; 
    color: #040404a3;
}

#prelims_kpi_change_icon,
#measured_works_kpi_change_icon,
#costs_kpi_change_icon,
#revenue_kpi_change_icon,
#profit_kpi_change_icon,
#margin_kpi_change_icon {
    top: 20%;
    left: 2%;
}

#main-page-content > div > div.kpi_row.row > div > h5 {
    font-weight: 400 !important;
    font-size: 1.10rem !important;
}


#open_charts_collapse_btn, #open_map_collapse_btn {
    background-color: #c2d3d394 !important;
    border: 1px solid #0000003b !important;
    color: #141313ba !important;
    font-weight: 500 !important;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: relative;
    width: 99%;
    margin-left: 0.5%;
}

hr {
    color: rgba(0, 0, 0, 0);
}